body main section input{
    width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: 8px;
}
body main section textarea{
    width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: 8px;
}
.form-wrapper{
padding: 16px;
display: flex;
justify-content: center;
}
.main-überschrift{
margin-top: 16px;
display: flex;
justify-content: center;
}