/* Main CSS file for TuningHub application */

:root{
    --bg-color: #f9f9f9;
    --link-color: #0077cc;
    --text-color: #333333;
    --border-color:#9b9999;
    --focuscolor: #0077cc;
    --boxshadow-color: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}