.back-btn-icon{
    background-color: var(--bg-color);
}
button.back-btn{
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    transition: all 0.2s ease;  
}