<div role="banner" class="header-content">
  <button
    id="menu-btn"
    class="menu-button"
    aria-controls="sidebar"
    aria-expanded="false"
    aria-label="Navigation öffnen"
  >
    <!-- Öffnene -->
    <img
      class="light-icon"
      src="/public/assets/svg/light/menu-light.svg"
      alt="Menu"
      width="36"
      height="36"
    />
    <img
      class="dark-icon"
      src="/public/assets/svg/dark/menu-dark.svg"
      alt="Menu"
      width="36"
      height="36"
    />
  </button>

  <div class="searchbar-wrapper">
    <input
      id="searchbar"
      type="text"
      class="searchbar"
      placeholder="Suche nach Teilen, Marken..."
    />
    <img
      class="light-icon"
      src="/public/assets/svg/light/search-light.svg"
      alt="Search Icon"
    />
    <img
      class="dark-icon"
      src="/public/assets/svg/dark/search-dark.svg"
      alt="Search Icon"
    />
  </div>

  <div class="profile-btn">
    <a href="/index.html">
      <img
        class="light-icon"
        src="/public/assets/svg/light/account-light.svg"
        alt="Profil"
      />
      <img
        class="dark-icon"
        src="/public/assets/svg/dark/account-dark.svg"
        alt="Profil"
      />
    </a>
  </div>
</div>
