.toggleSvgBtn{
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 45%;
    right: 10px;
}
.password-wrapper {
    position: relative;
    display: inline-block;
}   