<div class="footer">
  <div class="colum">
    <h3>Über Uns</h3>
    <ul>
      <li><a href="/about.html">Unser Team</a></li>
      <li><a href="/contact.html">Kontakt</a></li>
      <li><a href="/socialMedia.html">Social Media</a></li>
    </ul>
  </div>
  <div class="colum">
    <h3>Kundenservice</h3>
    <ul>
      <li><a href="/faq.html">Häufige Fragen</a></li>
      <li><a href="/shipping.html">Versandinformationen</a></li>
      <li><a href="/support.html">Support</a></li>
    </ul>
  </div>
  <div class="colum">
    <h3>Rechtliches</h3>
    <ul>
      <li><a href="/privacy.html">Datenschutzrichtlinie</a></li>
      <li><a href="/terms.html">Nutzungsbedingungen</a></li>
        <li><a href="/imprint.html">Impressum</a></li>
        <li><a href="/haftungsbeschränkung">Haftungsbeschränkung</a></li>
    </ul>
  </div>
</div>
